body {
    color: #ffffff;
}

#ic {
    width: 20px;
}

.navbar{
    position:fixed;
    width:100%;
    z-index:10;
    max-width:100%;
}

h2 {
    text-align: center;
    padding-top: 100px;
}

h4 {
    text-align: center;
    background-color: aqua;
}

.card-body{
    background-color: aqua;
    color: #ffffff;
}

i{
    color: #ffffff;
    size: 5x;
}

footer {
    background-color: aqua;
}